{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Ashutosh Sahu</h3>
                <p class="lead" style="font-weight: 350;">Hi, I am Ashutosh Sahu my main focus is on Machine Learning, Deep Learning and Artificial Intelligence.I am Also
                    Interested in web dev.</p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href="sahu.ashu1999@gmail.com"><img
                        src="https://cdn-icons-png.flaticon.com/512/5968/5968534.png" height="40" width="40"></a> :
                sahu.ashu1999@gmail.com<br><br>
                
                <a target="_blank" href="https://github.com/ashu93377"><img
                        src="https://cdn-icons-png.flaticon.com/512/25/25231.png" height="40" width="40"></a> : https://github.com/ashu93377
                <br><br>
                <a target="_blank" href="https://www.linkedin.com/in/ashutosh-sahu-855819156/"><img
                        src="https://cdn-icons-png.flaticon.com/512/174/174857.png" height="40" width="40"></a> : https://www.linkedin.com/in/ashutosh-sahu-855819156/
                <br><br>
            </div>
        </div>
    </div>

    <!-- <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            
        </div>
    </div>
</div> -->

<!-- {% endblock body %} -->